.sidebar {
  min-width: 220px;
  position: sticky;
  top: 1px;
  color: white;

  li {
    padding: 12px 18px;
  }

  .logo {
    padding: 20px 12px;
    color: gold;
    font-size: 42px;
    padding-bottom: 20px;
  }

  .activeLink {
    color: rgb(124, 170, 255);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.082);
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      right: -2px;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: rgb(81, 142, 255);
      border-radius: 50px;
    }
  }

  ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
}
